:root {
    --default-bg-color: #383838;
    --default-bg-color-light: #575757;
    --default-bg-color-rgb: 56, 56, 56;
    --default-font-color: #F8F8F8;
    --default-font-color-rgb: 248, 248, 248;
    --theme-color: #0E962E;
    --theme-color-rgb: rgb(14,150,46);
    --theme-color-dark: rgb(10,121,36);
    --theme-color-light: rgb(18,190,58);
    --chat-body-bg-color: #3e3e4f;
    --mobile-font-size: 14px;
    --mobile-font-size-small: 12px;

    --creator-color: #006FCB;
    --leader-color: #D16F00;
    --participant-color: #878787;
    --system-color: #feee48;

    --team-color-blue: #008BE2;
    --team-color-blue-rgb: 0, 139, 226;
    --team-color-red: #EA3030;
    --team-color-red-rgb: 234, 48, 48;
}

.site-default {
    background-color: var(--default-bg-color);
    color: var(--default-font-color);
    word-break: keep-all;
}

.fs-default {
    font-size: 1rem;
}

.fs-small {
    font-size: 0.9rem;
}

.text-darker {
    color: rgba(var(--default-font-color-rgb), 0.5)!important;
}

.default-bg {
    background-color: var(--default-bg-color);
}

.mobile-hidden {}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.word-break-keep {
    word-break: keep-all;
}

/* tags */
/* ** a ** */
.deco-none {
    decoration: none;
}

/* ** select ** */
select {
    background-color: var(--default-bg-color-light);
    color: var(--default-font-color);
}

/* ** input ** */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--default-font-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--default-bg-color) inset;
    box-shadow: 0 0 0px 1000px var(--default-bg-color) inset;
    transition: background-color 5000s ease-in-out 0s;
}
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    -webkit-text-fill-color: var(--default-font-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--default-bg-color) inset;
    box-shadow: 0 0 0px 1000px var(--default-bg-color) inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* buttons */
.btn.btn-white-outline {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--default-font-color);
    /*--bs-btn-bg: var(--bd-violet-bg);*/
    --bs-btn-border-color: var(--default-font-color);
    --bs-btn-hover-color: var(--default-bg-color);
    --bs-btn-hover-bg: var(--default-font-color);
    --bs-btn-hover-border-color: var(--default-font-color);
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--bs-btn-hover-bg);
    --bs-btn-active-border-color: var(--theme-color);
}

.btn.btn-theme {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--default-font-color);
    --bs-btn-bg: var(--theme-color);
    --bs-btn-border-color: var(--theme-color);
    --bs-btn-hover-color: var(--default-font-color);
    --bs-btn-hover-bg: var(--theme-color-light);
    --bs-btn-hover-border-color: var(--theme-color-light);
    /*--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);*/
    --bs-btn-active-color: var(--bs-btn-color);
    --bs-btn-active-bg: var(--theme-color-dark);
    --bs-btn-active-border-color: var(--theme-color-dark);
    --bs-btn-disabled-color: var(--bs-btn-color);
    --bs-btn-disabled-bg: var(--theme-color-dark);
    --bs-btn-disabled-border-color: var(--theme-color-dark);
}

.btn.btn-theme-outline {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--theme-color);
    --bs-btn-bg: var(--default-bg-color);
    --bs-btn-border-color: var(--theme-color);
    --bs-btn-hover-color: var(--default-font-color);
    --bs-btn-hover-bg: var(--theme-color-light);
    --bs-btn-hover-border-color: var(--theme-color-light);
    /*--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);*/
    --bs-btn-active-color: var(--bs-btn-color);
    --bs-btn-active-bg: var(--theme-color);
    --bs-btn-active-border-color: var(--theme-color);
    --bs-btn-disabled-color: var(--bs-btn-color);
    --bs-btn-disabled-bg: var(--default-bg-color);
    --bs-btn-disabled-border-color: var(--theme-color);
}
.content-wrapper .btn.btn-theme-outline {
    --bs-btn-font-weight: none;
    --bs-btn-bg: var(--theme-color);
    --bs-btn-hover-color: var(--default-font-color);
    background-color: var(--chat-body-bg-color);
}
.content-wrapper .btn.btn-theme-outline:hover {
    --bs-btn-color: var(--default-font-color);
    background-color: var(--theme-color-light);
    border-color: var(--theme-color-light);
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--default-font-color)!important;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}
.btn-check:checked+.btn:hover {
    background-color: var(--theme-color-light);
    border-color: var(--theme-color-light);
}
.btn-close.btn-close-light {
    --bs-btn-close-color: var(--default-font-color);
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f8f8'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
}

.btn-close.btn-minimize {
    --bs-btn-close-color: var(--default-font-color);
    --bs-btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='150' height='150' fill='black' class='bi bi-dash-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8'/></svg>");
    --bs-btn-close-opacity: 1;
}

/* modal */
.modal.modal-dark {
    --bs-modal-bg: var(--default-bg-color);
    --bs-modal-header-border-color: rgba(var(--default-font-color-rgb), 0.5);
    --bs-modal-footer-border-color: rgba(var(--default-font-color-rgb), 0.5);
}


/* utility */
.content-wrapper {
    background-color: var(--chat-body-bg-color);
    border: 1px solid;
    border-color: var(--default-bg-color-light);
    border-radius: 1rem 1rem 1rem 1rem;
}
.img-border {
    border: 1px solid rgba(var(--default-font-color-rgb), 0.5);
    border-radius: 1rem;
    background-color: var(--default-bg-color);
}
.img-w-50 {
    width: 50%;
}
.img-w-75 {
    width: 75%;
}

.accordion.content-wrapper {
    --bs-accordion-color: none;
    --bs-accordion-bg: none;
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: none;
    --bs-accordion-border-radius: none;
    --bs-accordion-inner-border-radius: none;
    --bs-accordion-btn-color: none;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: none;
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f8f8'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f8f8'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-color: var(--chat-body-bg-color)!important;
    border: 1px solid!important;
    border-color: var(--default-bg-color-light)!important;
    border-radius: 1rem 1rem 1rem 1rem!important;
}

.accordion.content-wrapper .accordion-button {
    padding: 0;
}

.form-control.bar-dark {
    background-color: var(--default-bg-color-light);
    border-color: rgba(var(--default-font-color-rgb), 0.5);
    color: rgba(var(--default-font-color-rgb), 0.8);
}
.form-control.bar-dark::placeholder {
    color: rgba(var(--default-font-color-rgb), 0.5);
}
.form-control.bar-dark:focus:read-only {
    background-color: var(--default-bg-color-light);
    border-color: rgba(var(--default-font-color-rgb), 0.5);
    color: rgba(var(--default-font-color-rgb), 0.8);
}
.form-control.bar-dark:focus:not(read-only) {
    background-color: var(--default-bg-color);
    border-color: rgba(var(--default-font-color-rgb), 0.5);
    color: rgba(var(--default-font-color-rgb), 0.8);
    background-color: var(--default-bg-color);
}
.input-group-text.bar-dark {
    background-color: var(--default-bg-color-light);
    border-color: rgba(var(--default-font-color-rgb), 0.5);
    color: var(--default-font-color);
}
.mw-75 {
    max-width: 40rem;
}
.my-profile-icon {
    max-width: 6rem;
    max-height: 6rem;
}
.my-detail-icon {
    max-width: 3rem;
    max-height: 3rem;
}
.participant-card {
    width: 17.5%;
    border: 1px solid rgba(var(--default-font-color-rgb), 0.5);
    border-radius: 1rem;
    background-color: var(--default-bg-color);
}
.participant-card.participant-card-leader {
    border: 1px solid var(--leader-color);
}
.participant-profile-icon {
    max-width: 3rem;
    max-height: 3rem;
}
.participant-detail-icon {
    width: 80%;
    height: 80%;
    max-width: 3rem;
    max-height: 3rem;
}
.team-board {
    border: 1px solid;
    border-radius: 1rem;
}
.team-board-blue {
    border-color: var(--team-color-blue);
    background-color: rgba(var(--team-color-blue-rgb), 0.2);
}
.team-board-red {
    border-color: var(--team-color-red);
    background-color: rgba(var(--team-color-red-rgb), 0.2);
}
.team-board>.participant-card {
    width: auto;
}
.bg-system {
    background-color: var(--system-color);
}
.bg-creator {
    background-color: var(--creator-color);
}
.bg-leader {
    background-color: var(--leader-color);
}
.bg-participant {
    background-color: var(--participant-color);
}

.role-badge {
    border-radius: 10%;
    width: fit-content;
    padding: .1rem .2rem .1rem .2rem;
}

/* Mobile */
@media(max-width: 992px) {
    .mobile-hidden {
        display: none;
    }
    .img-w-50 {
        width: 80%;
    }
    .img-w-75 {
        width: 100%;
    }
    .site-default {
        background-color: var(--default-bg-color);
        color: var(--default-font-color);
        word-break: keep-all;
        font-size: var(--mobile-font-size);
    }
    .fs-default {
        font-size: var(--mobile-font-size);
    }
    .fs-small {
        font-size: var(--mobile-font-size-small);
    }
    .my-profile-icon {
        max-width: 4rem;
        max-height: 4rem;
    }
    .participant-card {
        width: 100%;
    }
    .participant-profile-icon {
        max-width: 2rem;
        max-height: 2rem;
    }
}