.rsp-card {
    border: 1px solid rgba(var(--default-font-color-rgb), 0.5);
    border-radius: 1rem;
    cursor: pointer;
}
.rsp-card:hover {
    border-color: var(--theme-color-light);
}
.rsp-card.rsp-card-selected {
    border-color: var(--theme-color);
}

.rsp-card-border {
    border: 1px solid rgba(var(--default-font-color-rgb), 0.5);
    border-radius: 1rem;
}

.fs-rsp {
    text-align: center;
    font-size: 5rem;
}

.rsp-team-blue {
    background-color: var(--team-color-blue);
    border-radius: 1rem;
}
.rsp-team-red {
    background-color: var(--team-color-red);
    border-radius: 1rem;
}
.rsp-team-draw {
    background-color: var(--participant-color);
    border-radius: 1rem;
}