{% extends 'base.html' %}

{% load static %}

{% block head_scripts %}
<link rel="stylesheet"  type="text/css" href="{% static 'css/chatbox.css' %}">
{% endblock %}

{% block main_content %}
<div>
    <a href="{% url 'common:index' %}">홈</a>
</div>
<div>
    {% if channel_user.owner %}
    방장
    {% else %}
    참가자
    {% endif %}
</div>
{% include 'components/chat.html' %}

{% endblock %}

{% block body_scripts %}
<script type="text/javascript" src="{% static 'javascript/chat.js' %}"></script>
{% endblock %}