{% extends 'base.html' %}

{% load static %}

{% block head_scripts %}
<link rel="stylesheet"  type="text/css" href="{% static 'css/chatbox.css' %}">
<script>
    const roomId = '{{ room_id }}';
    const user = {{ channel_user.id }};
    const chatWsUrl = '{{ chat_ws_url }}{{ room_id }}/{{ channel_user.id }}/';
    const sendChatUrl = window.location.pathname + 'chat/send/';
    const sendNewUserUrl = window.location.pathname + 'system/send/new-user/';
    const fetchOldUsersUrl = window.location.pathname + 'system/fetch/old-users/';
    const changeLaneUrl = window.location.pathname + 'myprofile/change/lane/';
    const userDetailUrl = window.location.pathname + 'detail/';
    const fileUrl = window.location.origin + '/file/';
    const profileIconUrl = '{{ profile_icon_url }}';
    const champJsonUrl = '{{ champ_json_url }}';
    const champIconUrl = '{{ champ_icon_url }}';
    const gameVersion = '{{ game_version }}';

    const participantCardEl = `{% include 'components/participant_card.html' %}`
    const creatorBadgeEl = `{% include 'components/creator_badge.html' %}`
    const leaderBadgeEl = `{% include 'components/leader_badge.html' %}`
    const participantBadgeEl = `{% include 'components/participant_badge.html' %}`
</script>
<script type="text/javascript" src="{% static 'javascript/store_imgs.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/myProfile.js' %}"></script>
{% endblock %}

{% block main_content %}

{% include 'room/invite_link.html' %}
{% include 'room/my_profile.html' %}
{% include 'room/participant_board.html' %}

{% include 'components/chat.html' %}

{% endblock %}

{% block body_scripts %}
<script type="text/javascript" src="{% static 'javascript/room.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/chat.js' %}"></script>
{% endblock %}