<div class="content-wrapper my-4 mx-2">
    <div class="h4 m-2 text-center">
        팀 현황
    </div>
    <div class="row justify-content-center align-items-center m-2">
        <div class="col-lg-6">
            <div class="text-center h-5">블루팀</div>
            <div class="team-board team-board-blue m-2 p-2">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-center h-5">레드팀</div>
            <div class="team-board team-board-red m-2 p-2">
            </div>
        </div>
    </div>
</div>
