<div class="modal modal-dark fade" id="leader-rsp-modal" data-bs-backdraop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="leader-rsp-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="leader-rsp-modal-label"></h1>
            </div>
            <div class="modal-body" id="leader-rsp-modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="stopDraftPick()">중단</button>
            </div>
        </div>
    </div>
</div>