{% extends 'base.html' %}

{% load static %}

{% block main_content %}
<div class="mobile-hidden" style="height:15dvh;"></div>
<div class="p-2"></div>
<div class="row justify-content-center align-items-center m-2 p-2 text-center">
    <div class="col-lg-3">
        <div class="m-2">
            <img class="w-50" src="{% static 'images/discord-icon.svg' %}" alt="디스코드 로고">
        </div>
        <a class="btn btn-discord" href="{{ urls.discord }}">스크리머 디스코드 채널</a>
        <div class="text-darker m-2 p-2 fs-small">
            {{ urls.discord }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="m-2">
            <img class="w-50" src="{% static 'images/kakaotalk-logo.svg' %}" alt="카카오톡 로고">
        </div>
        <a class="btn btn-kakaotalk" href="{{ urls.kakaotalk }}">카카오톡 1대1 문의</a>
        <div class="text-darker m-2 p-2 fs-small">
            {{ urls.kakaotalk }}
        </div>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
<script>
    window.onresize = function(e) {
        hamburger(992);
    }
</script>
{% endblock %}