{% load static %}

<nav class="p-2 default-bg">
    <div class="d-flex justify-content-between align-items-center h-100 px-2">
        <div class="h-100">
            {% if request.path != '/' %}
            <a class="navbar-brand" href="{% url 'common:index' %}">
                <img src="{% static 'images/banner.png' %}" style="height: 40px;">
            </a>
            {% endif %}
        </div>
        <div>
            <a class="btn btn-sm btn-white-outline" href="{% url 'common:contact' %}">
                <i class="bi bi-question-circle me-2"></i><span>문의하기</span>
            </a>
        </div>
    </div>
</nav>