{% load static %}

<div class="chat-icon" id="chatBubble">
    <i class="bi bi-chat-right-text-fill fs-4"></i>
</div>
<div class="chat-box" id="chatBox">
    <div class="chat-header d-flex justify-content-end align-items-center" id="chatHeader">
        <button class="btn btn-close btn-minimize" id="minimizeBtn">
        </button>
    </div>
    <div class="chat-body" id="chatBody">
        asdf
    </div>
    <div class="chat-footer flex align-items-center" id="chatFooter">
        <div class="input-group">
            <input type="text" class="form-control chat-input" aria-describedby="sendBtn">
            <button class="btn btn-theme-outline" type="button" id="sendBtn">
                <i class="bi bi-send"></i>
            </button>
        </div>
    </div>
</div>
