{% load static %}
<script>
    const messageHtml = `{% include 'components/chat_message.html' %}`;
</script>
<div class="chat-icon" id="chatBubble">
    <i class="bi bi-chat-right-text-fill fs-4"></i>
</div>
<div class="chat-box" id="chatBox">
    <div class="chat-header d-flex justify-content-end align-items-center" id="chatHeader">
        <button class="btn btn-close btn-minimize" id="minimizeBtn">
        </button>
    </div>
    <div class="chat-body" id="chatBody">
    </div>
    <div class="chat-footer flex align-items-center" id="chatFooter">
        <div class="input-group">
            <input type="text" class="form-control chat-input" id="chatInput" aria-describedby="sendBtn" oninput="chatInputBtnControl()">
            <button class="btn btn-theme-outline" type="button" id="sendBtn" onclick="sendMessage()" disabled>
                <i class="bi bi-send"></i>
            </button>
        </div>
    </div>
</div>
