<div class="col m-2" style="border: 1px solid white;">
    <div class="row m-2 align-items-center">
        <div class="col-auto">
            <img class="participant-profile-icon rounded-circle" id="user-card-profile-{{ channel_user.id }}" src="">
        </div>
        <div class="col-auto">
            <div>
                <span id="user-card-gamename-{{ channel_user.id }}"></span><span id="user-card-tag-{{ channel_user.id }}"></span>
            </div>
            <div class="d-inline-flex" id="card-user-badge-{{ channel_user.id }}">
            </div>
        </div>
    </div>
    <div class="row  m-2 justify-content-center align-items-center">
        <div class="col">
            tier
        </div>
        <div class="col">
            most
        </div>
        <div class="col">
            lane
        </div>
    </div>
</div>