{% extends "base.html" %}
{% load static %}

{% block sub_title %}
 | 방 생성 가이드
{% endblock %}

{% block main_content %}
<div class="m-1">
    <div class="my-4">
        <h1>팀 가르기 방 생성 가이드</h1>
    </div>
    <div class="py-4"></div>
    <div class="my-4">
        <h3>A. 게임 닉네임으로 방 URL 생성</h3>
        <hr class="img-w-75">
        <div class="row g-1 justify-content-start m-2 pt-3 pb-2">
            <div class="col-auto">
                A-1.
            </div>
            <div class="col">
                방 만들기 클릭
            </div>
        </div>
        <img class="img-w-75 img-border" src="{% static 'images/guide/create/info1.png' %}">

        <div class="row g-1 justify-content-start m-2 pt-3 pb-2">
            <div class="col-auto">
                A-2.
            </div>
            <div class="col">
                소환사 닉네임과 태그 입력 후 "생성" 클릭
            </div>
        </div>
        <img class="img-w-75 img-border" src="{% static 'images/guide/create/info2.png' %}">
    </div>

    <div class="py-2"></div>

    <div class="my-4">
        <h3>B. 사용자 설정게임 참여자 초대</h3>
        <hr class="img-w-75">
        <div class="row g-1 justify-content-start m-2 pt-3 pb-2">
            <div class="col-auto">
                B-1.
            </div>
            <div class="col">
                링크 복사
            </div>
        </div>
        <img class="img-w-75 img-border" src="{% static 'images/guide/create/info3.png' %}">

        <div class="row g-1 justify-content-start m-2 pt-3 pb-2">
            <div class="col-auto">
                B-2.
            </div>
            <div class="col">
                사용자 설정게임 참가자 초대
            </div>
        </div>
        <img class="img-w-50 img-border" src="{% static 'images/guide/create/info4.png' %}">
    </div>

    <div class="py-2"></div>

    <div class="my-4">
        <h3>C. 팀 가르기 사전 설정</h3>
        <hr class="img-w-75">
        <div class="row g-1 justify-content-start m-2 pt-3 pb-2">
            <div class="col-auto">
                C-1.
            </div>
            <div class="col">
                최대 참가 인원 변경 방법 (기본 설정 - 10명):
                <ol class="p-1 m-0">
                    <li class="m-1">수정 버튼을 클릭하면 최대 참가 인원 입력 칸이 활성화 됩니다.</li>
                    <li class="m-1">최대 참가 인원 입력 (최소 2인 ~ 최대 10인, 현재 참가자 수 보다 적게 설정할 수 없습니다.)</li>
                    <li class="m-1">적용을 클릭하면 최대 참가인원이 설정되며, 최대 참가인원이 초과 할 경우 이후 참여자는 참여가 제한됩니다.</li>
                </ol>
            </div>
        </div>
        <img class="img-w-75 img-border" src="{% static 'images/guide/create/info5.png' %}">

        <div class="row g-1 justify-content-start m-2 pt-3 pb-2">
            <div class="col-auto">
                C-2.
            </div>
            <div class="col">
                팀 가르기 방식 선택:
                <ol class="p-1 m-0">
                    <li class="m-1"><b>드래프트</b>: 두 명의 팀 뽑기 주장을 선정하여 서로 가위바위보로 선을 정한 후 교차선택 방식으로 주장이 팀원을 뽑습니다.</li>
                    <li class="m-1"><b>올랜덤</b>: 모든 참가를 랜덤하게 섞어 팀을 가릅니다.</li>
                    <li class="m-1"><b>자동</b>(업데이트 예정): 모든 참가자들의 밸런스를 고려하여 자동으로 팀을 가릅니다.</li>
                </ol>
            </div>
        </div>
        <img class="img-w-75 img-border" src="{% static 'images/guide/create/info6.png' %}">
    </div>

    <div class="py-2"></div>

    <div class="my-4">
        <h3>D. 팀 가르기</h3>
        <hr class="img-w-75">
        <div class="row g-1 justify-content-start m-2 pt-3 pb-2">
            <div class="col-auto">
                D-1.
            </div>
            <div class="col">
                드래프트 모드:
                <ol class="p-1 m-0">
                    <li class="m-1">드래프트 버튼 클릭</li>
                    <li class="m-1">참가 현황에서 팀을 뽑을 두 명의 주장 선택</li>
                    <li class="m-1">팀 가르기 시작 (이후 주장으로 선택된 참가자의 화면에서 선을 정하기 위한 가위바위보 게임이 진행됩니다.)</li>
                </ol>
                <p class="fst-italic">* 드래프트 팀 가르기는 참가자가 10명이 되어야 활성화 됩니다.</p>
            </div>
        </div>
        <img class="img-w-75 img-border" src="{% static 'images/guide/create/info7.png' %}">

        <div class="row g-1 justify-content-start m-2 pt-3 pb-2">
            <div class="col-auto">
                D-2.
            </div>
            <div class="col">
                올랜덤 모드:
                <ol class="p-1 m-0">
                    <li class="m-1">올랜덤 버튼 클릭</li>
                    <li class="m-1">랜덤 가르기 시작 버튼 클릭</li>
                </ol>
            </div>
        </div>
        <img class="img-w-75 img-border" src="{% static 'images/guide/create/info8.png' %}">
    </div>

    <div class="py-2"></div>

    <div class="my-4">
        <h3>E. 팀 가르기 이후</h3>
        <hr class="img-w-75">
        <div class="m-2 pt-3 pb-2">
            <ol class="p-1 m-0">
                <li class="m-1">팀 뽑기가 완료되면 뽑힌 팀으로 실제 리그오브레전드 사용자 설정 게임 방에서 팀을 옮겨 게임을 진행합니다.</li>
                <li class="m-1">게임이 종료 된 후 새롭게 팀을 구성하려면 팀 초기화 버튼을 클릭합니다.</li>
            </ol>
        </div>
    </div>
    <img class="img-w-75 img-border" src="{% static 'images/guide/create/info9.png' %}">

    <div class="py-2"></div>

    <div class="my-4">
        <h3>기타 이용안내</h3>
        <hr class="img-w-75">
        <div class="m-2 pt-3 pb-2">
            <ul class="p-1 m-0">
                <li class="m-1">방장이 방을 나가면(브라우저 탭 종료, 새로고침, 하단 나가기 버튼) 해당 방이 사라지며 참가중인 모든 참여자들이 퇴장됩니다.</li>
                <li class="m-1">하단 우측의 말풍선 버튼으로 팀가르기 진행 안내 메세지 확인 및 현재 방의 참여인원과 메세지를 주고받을 수 있습니다.</li>
                <li class="m-1">기타 문의사항은 상단의 문의하기 버튼을 이용하여 주십시오.</li>
                <li class="m-1 text-darker">제작: Lukas Heo / 신림감자#KR2</li>
            </ul>
        </div>
    </div>

    <div class="py-4"></div>
</div>
{% endblock %}