{% extends "base.html" %}
{% load static %}

{% block sub_title %}
 | 방 생성 가이드
{% endblock %}

{% block main_content %}
<div class="my-4">
    <h1>팀 가르기 방 생성 가이드</h1>
</div>
<div class="py-4"></div>
<div class="my-4">
    <h3>A. 게임 닉네임으로 방 URL 생성</h3>
    <hr class="img-w-75">
    <div class="m-2 py-3">
        <p class="m-1">
            A-1. 방 만들기 클릭
        </p>
        <img class="m-1 img-w-75 img-border" src="{% static 'images/guide/create/info1.png' %}">
    </div>
    <div class="m-2 py-3">
        <p class="m-1">
            A-2. 소환사 닉네임과 태그 입력 후 "생성" 클릭
        </p>
        <img class="m-1 img-w-75 img-border" src="{% static 'images/guide/create/info2.png' %}">
    </div>
</div>
<div class="py-2"></div>
<div class="my-4">
    <h3>B. 사용자 설정게임 참여자 초대</h3>
    <hr class="img-w-75">
    <div class="m-2 py-3">
        <p class="m-1">
            B-1. 링크 복사
        </p>
        <img class="m-1 img-w-75 img-border" src="{% static 'images/guide/create/info3.png' %}">
    </div>
    <div class="m-2 py-3">
        <p class="m-1">
            B-2. 사용자 설정게임 참가자 초대
        </p>
        <img class="m-1 img-w-50 img-border" src="{% static 'images/guide/create/info4.png' %}">
    </div>
</div>
{% endblock %}